<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="nav navbar-brand" href="/main">{{ user.FirstName}} {{ user.LastName }} {% if user.usertype==0 %}(Etudiant){% elif user.usertype==1 %}(Maître de stage){% elif user.usertype==2 %}(Scolarité){% else %}(Responsable){% endif %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/help">Aide</a></li>
            {% if user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
